@font-face {
    font-family: "jost";
    src: url(../fonts/Jost-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "jost-medium";
    src: url(../fonts/Jost-Medium.ttf) format(truetype)
}

@font-face {
    font-family: "jost-bold";
    src: url(../fonts/Jost-Bold.ttf) format(truetype)
}