@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .nav__icon {
        display: block;
    }

    .menu {
        position: fixed;
        background-color: #DEE8CE;
        left: -220px;
        top: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        align-items: baseline;
    }

    .menu__item {
        margin-bottom: 30px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
    .page-content{
        width: 100%;
        padding: 10px;
    }
    .page-banner{
        width: 100%;
        padding: 10px;
    }

    .page-content__title{
        font-size: 60px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}